*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: var(--white);
	color: var(--black);
}

:root {
	--black: #232323;
	--white: #e8e8e8;
	--overlay: rgba(35, 35, 35, 0.57);
	--marginSection: 8em;
}

img {
	max-width: 100%;
}

nav {
	padding: 2em 0;
	background-color: white;
}

nav > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

a {
	text-decoration: none;
}

h1 {
	font-size: clamp(3rem, 4vw, 3.2rem);
}

h2 {
	text-align: center;
	margin-bottom: 2em;
	font-size: clamp(2rem, 2vw, 3rem);
}

main {
	/* margin: var(--marginSection) 0; */
	margin-top: var(--marginSection);
}

p,
label {
	font-size: clamp(1.5rem, 2vw, 2rem);
}

ul {
	list-style: none;
}

.left {
	opacity: 0;
	transform: translateX(-30px);
	transition: 0.8s all ease;
}

.right {
	opacity: 0;
	transform: translateX(30px);
	transition: 0.8s all ease;
}

.fade__apear {
	transform: translateX(0);
	opacity: 1;
}

.stagger,
.stagger__logros {
	opacity: 0;
}

.container {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
}

.container.center {
	position: relative;
}

.logo {
	width: clamp(50px, 20%, 80px);
}

.hamburger {
	position: relative;
	background-color: var(--black);
	width: 18px;
	height: 2px;
}

.hamburger::before,
.hamburger::after {
	position: absolute;
	content: '';
	background-color: var(--black);
	width: 18px;
	height: 2px;
}

.hamburger::after {
	top: 5px;
}

.hamburger::before {
	top: -5px;
}

.nav__menu--mobile {
	max-height: 0;
	/* padding-bottom: 1em; */
	transition: max-height 1s ease;
	background-color: white;
	overflow: hidden;
}

.show__menu {
	max-height: 500px;
	transition: max-height 2s ease;
	/* padding-bottom: 2em; */
}

.hero__menu {
	position: absolute;
	transform: scale(0);
}

.nav__menu--item {
	padding: 1em 0;
	transition: 0.5s ease;
}

.nav__menu--item:hover {
	transform: scale(1.1);
}

.nav__menu--mobile {
	text-align: center;
}

.nav__menu--item a {
	color: var(--black);
}

.nav__menu--item + .nav__menu--item {
	margin-top: 1.5em;
}

.book {
	padding: 1em 0.5em;
	background-color: var(--black);
	display: inline-block;
	margin-top: 4em;
}

.book a {
	color: white;
}

.social__menu--container {
	display: flex;
	width: 70%;
	max-width: 300px;
	align-items: center;
	justify-content: space-between;
	margin: 5em auto;
	padding-bottom: 2em;
}

.social__menu svg {
	fill: var(--black);
	width: 30px;
}

.slider__container {
	position: relative;
	z-index: 10;
	overflow: hidden;
	height: 80vh;
}

.slide,
.testimonial {
	padding: 4em 0;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}

.slide1 {
	background-image: url('images/iPad\ mini\ s1.png');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	/* background-position-x: right; */
	transition: 1s all ease;
}

.slide2 {
	background-image: url('images/iPad\ mini\ -\ 1.png');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-position-x: right;

	transition: 1s all ease;
}

.slide2 h1 {
	color: var(--white);
}

.slide2 .btn__black {
	background-color: var(--white);
	border: none;
	transition: 0.5s all ease;
}

.slide2 .btn__black a {
	color: var(--black);
}

.slide2 .btn__black:hover {
	background-color: transparent;
}

.slide2 .btn__black:hover a {
	color: var(--white);
}

.slide2 .btn__white {
	border: solid 2px var(--white);
}

.slide2 .btn__white a {
	color: var(--white);
}

.slide2 .btn__white:hover {
	background-color: var(--white);
}

.slide2 .btn__white:hover a {
	color: var(--black);
}

/* .slide {
	transform: translate(-100%);
} */

.btn__black,
.btn__white {
	padding: 1em 0.8em;
	background-color: var(--black);
	display: inline-block;
	margin-top: 2em;
	border: solid 2px var(--black);
	transition: all 1s ease;
}

.btn__black a {
	color: white;
	transition: all 1s ease;
}

.btn__black:hover {
	background-color: transparent;
}

.btn__black:hover a {
	color: var(--black);
}

.btn__white {
	/* padding: 0.85em; */
	background-color: transparent;
	border: solid 2px var(--black);
}

.btn__white.services {
	background-color: var(--white);
	border: solid 2px var(--white);
	width: clamp(110px, 15vw, 120px);
	margin: 4em auto 2em auto;
	display: block;
}

.btn__white.services:hover {
	background-color: transparent;
}

.btn__white.services:hover a {
	color: var(--white);
}

.btn__white a {
	color: var(--black);
}

.btn__white:hover {
	background-color: var(--black);
}

.btn__white:hover a {
	color: var(--white);
}

.btn__black + .btn__white {
	margin-left: 1em;
}

.slider__btn {
	position: absolute;
	bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 100%;
}

.slider__btn--left,
.slider__btn--right {
	background-color: var(--black);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 0.4em;
}

.slider__btn--left svg,
.slider__btn--right svg {
	fill: white;
}

.slider__btn--left {
	transform: rotate(180deg);
	margin-right: 1em;
}

.hero__social {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20%;
	max-width: 200px;
	transform: scale(0);
}

.hero__social ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* .hero__social a {
	width: 40px;

	background-color: var(--white);

	padding: 1em;
	border-radius: 50%;
} */

.hero__social svg {
	fill: var(--black);
	width: 30px;
}

/* .about__text {
	margin: 3em 0;
} */

/* .about__text,
.about__img {
	width: clamp(250px, 40vw, 400px);
} */

/* .about .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
} */

.about__grid {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 2em;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.prices__section {
	margin: var(--marginSection) 0;
}

.prices {
	background-image: url('images/srvices\ bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 3em;
}

.overlay {
	background-color: var(--overlay);
	padding: 3em 0;
}

.prices__grid {
	display: grid;

	grid-gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	width: 100%;
}

.price {
	background-color: var(--black);
	padding: 2em 1em;
	display: inline-block;
	position: relative;
	overflow: hidden;
	/* width: clamp(200px, 70vw, 230px); */
	display: flex;
	align-items: center;
	justify-content: center;
}

.price p {
	color: var(--white);
	/* width: 90%;
	margin: 0 auto; */
	text-align: center;
}

.more {
	background-color: var(--white);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: -100%;
	transition: 1s all ease;
}

.more a {
	color: var(--black);
	font-weight: 600;
}

.price:hover .more {
	left: 0;
}

.frase__section {
	margin: var(--marginSection) 0;
}

.frase {
	background-color: var(--black);
	padding: 3em 1em;
	text-align: center;
}

.frase h2 {
	color: var(--white);
	font-weight: 200;
	margin: 0;
}

.logros__section {
	margin: var(--marginSection) 0;
}

.flex {
	display: flex;
	align-items: center;
	margin-top: 4em;
	flex-wrap: wrap;
	justify-content: center;
}

.flex img {
	width: clamp(150px, 25vw, 337px);
	transition: 1s all ease;
}

/* .flex img:hover {
	flex-grow: 2;
} */

.logros {
	background-color: var(--black);
	padding: 4em 0;
}

.logros__container {
	display: grid;
	gap: 4em;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.logros svg {
	fill: var(--white);
	width: clamp(100px, 15vw, 100px);
	margin: 0 auto;
	display: block;
}

.logros p {
	color: var(--white);
	margin-top: 1em;
	text-align: center;
}

.logros span {
	font-weight: 900;
	display: block;
	font-size: clamp(3.5rem, 2vw, 4.5rem);
}

.book__grid {
	display: grid;
	justify-items: center;
	align-items: center;
	gap: 5em;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.book__grid svg {
	fill: var(--black);
}

.book__grid p {
	color: var(--black);
	font-weight: 600;
	margin-top: 1em;
	display: inline-block;
	text-align: center;
}

label {
	color: var(--black);
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-bottom: 0.5em;
}

input,
textarea {
	padding: 1em;
	display: block;
	background-color: transparent;
	border: solid 2px var(--black);
	margin: 0 auto;
}

.input + .input {
	margin: 2em 0;
}

button.btn__black {
	color: var(--white);
	border: none;
	font-size: clamp(1.5rem, 20px, 3rem);
	margin-top: 0;
}

.testimonials {
	background-color: var(--black);
	padding: 4em 0;
	margin-top: var(--marginSection);
}

.testimonials h2,
.testimonials h3,
.testimonials p,
.testimonials svg {
	color: var(--white);
	fill: var(--white);
}

.testimonials svg {
	width: 30px;
}

.testimonial__container {
	height: 40vh;
}

.testimonial__btn {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-items: center;
	justify-content: center;
	width: 100%;
	bottom: 0px;
	cursor: pointer;
}

.testimonial {
	text-align: center;
	padding: 0;
	transition: 1.2s all ease-out;
}

.testimonial h3 {
	font-size: clamp(1.5rem, 20px, 3rem);
}

.testimonial__btn--left {
	transform: scaleX(-1);
}

.estrellas {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 70%;
	margin: 1em auto;
	max-width: 500px;
}

.estrellas img {
	width: 40px;
}

footer {
	background-color: var(--black);
	padding: 4em 0;
}

footer ul {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	max-width: 500px;
	margin: 0 auto;
}

footer svg {
	fill: var(--white);
	width: 30px;
}

/* Estilos pagina services */

.main__services {
	margin: var(--marginSection) 0;
}

.hero__services {
	height: 80vh;
	background-image: url('images/female-master-in-white-gloves-determine-eyebrow-contour-min.jpg');
	background-size: cover;
	background-position: center;
}

.hero__services .overlay {
	height: 100%;
	text-align: center;
}

.hero__services h1 {
	color: var(--white);
}

.center__text {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.service + .service {
	margin-top: 6em;
}

.service h2 {
	margin-bottom: 0.5em;
	text-align: left;
}

@media screen and (min-width: 900px) {
	h1 {
		font-size: clamp(4rem, 4vw, 5rem);
	}

	.nav__menu--mobile,
	.hamburger {
		position: absolute;
		transform: scale(0);
	}

	.hero__menu {
		width: clamp(300px, 40vw, 500px);
		transform: scale(1);
		position: relative;
	}

	.hero__menu ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav__menu--item + .nav__menu--item {
		margin: 0;
	}

	.slide1 {
		background-image: url('images/hero.png');
		background-position-x: right;
	}

	.container.center {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero__social {
		transform: scale(1);
	}

	.about__grid {
		gap: 10em;
	}

	label {
		text-align: left;
	}

	input {
		margin: 0;
	}
}

@media screen and (min-width: 1200px) {
	.slide1 {
		background-size: contain;
	}
}
